includes:
    - ../../vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - ../../app/
        - ../../database/
    level: 9
    exceptions:
          check:
              tooWideThrowType: true
              missingCheckedExceptionInThrows: true
