parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\$get of static method Illuminate\\\\Database\\\\Eloquent\\\\Casts\\\\Attribute\\<mixed,mixed\\>\\:\\:make\\(\\) expects \\(callable\\(mixed, mixed\\)\\: string\\)\\|null, Closure\\(string\\)\\: string given\\.$#"
			count: 1
			path: ../../app/Models/Logbook.php
